.game {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game .recent-words-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -16px;
}

.game .recent-word {
  font-size: 16px;
  padding-top: 16px;
  color: var(--color-dark-gray);
}

.game .most-recent-word {
  font-size: 32px;
  padding: 32px 0;
  color: var(--color-brack);
}

.game .most-recent-word span{
  font-family: 'AiShiroYukiguni_Free-Regular';
}

.game form {
  box-sizing: border-box;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game form input {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-gray);
  outline: none;
  border: 1px solid var(--color-light-gray);
  border-radius: 20px;
}

.game form input:focus {
  outline: none;
  border: 1px solid var(--color-gray);
}

.game form input::placeholder {
  font-weight: 300;
  color:  var(--color-light-gray);;
}

.game .game-over-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.game .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.index .game-contents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
