.index h1 {
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  color: var(--color-brack);
}

.index p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color: var(--color-dark-gray);
  line-height: 2;
}
